/* backgorund */
$zc--bgc:#409EFF; // 默认色
$zc--bgc-basis:#fff; // 基础色
/* font Style color */
$zc--font-color-title:#080808; // 标题
$zc--font-color-text1:#303133; // 正文1
$zc--font-color-text2:#606266; // 正文2
$zc--font-color-remind:#909399;// 提醒
$zc--font-color-perch:#C0C4CC;// 占位
$zc--font-color:#ffffff; // 默认
/* font Style family */
$zc--font-family-title:'PingFang SC-medium PingFang SC'; // 标题
$zc--font-family-text:'PingFang SC-Regular PingFang SC'; // 正文
